# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
msc_thesis.Rproj

# Other files
examples/
data/
figures/
paper/

# MacOS files
.DS_Store
