# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
msc_thesis.Rproj

# Other files
examples/
data/
figures/
paper/
scripts/oldscripts
# Ignore latex related stuff except .tex files
thesis/*
!thesis/*.tex
!thesis/chapters
!thesis/biblio.bib

# MacOS files
.DS_Store

